<!DOCTYPE html>

<html lang="en">
<head>
  <link rel="icon" href="{{static_url('images/Study-icon.png')}}" >
  <link href="{{static_url('css/login.css')}}" rel="stylesheet" id="bootstrap-css-this">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


  <title>Isolation Forest</title>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar-nav-fixed affix">
                <div class="well">
                    {% block panel %}
                    {% end block %}
                </div>
                <!--/.well -->
            </div>
            <!--/sidebar-nav-fixed -->
        </div>
        <!--/span-->
        <div class="col-md-9">
            <div class="jumbotron">
                {% block content %}
                 <h1>Isolation Forest</h1>
                {% end block %}
            </div>

        </div>
    </div>
    <!--/row-->
</div>
<!--/.fluid-container-->


</body>


</html>
