<!DOCTYPE html>

<html lang="en">
<head>
  <link rel="icon" href="{{static_url('images/Study-icon.png')}}" >
  <link href="{{static_url('css/login.css')}}" rel="stylesheet" id="bootstrap-css-this">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


  <title>Isolation Forest</title>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-3">
              <div class="well">
                {% block panel %}
                {% end block %}
              </div>
            <!--/sidebar-nav-fixed -->
              {% block actionButtons %}
              {% end block %}
            </div>
        <!--/span-->
        <div class="col-md-7">
            {% block content %}
              <div class="well">
                <img src="{{static_url('images/EIF_logo_nobackground.png')}}"  style="width:100%;" alt="Oops">
              </div>
              <div class="well">
                <img src="{{static_url('images/splash.png')}}"  style="width:100%;" alt="Oops">
              </div>
            {% end block %}

            {% block scorePoint %}
            {% end block %}

            {% block splash %}
            {% end block %}
        </div>

        <div class="col-md-2">
          <div class="well">
            <img src="{{static_url('images/sidesplash.png')}}"  style="width:100%;" alt="Oops">
          </div>
        </div>

    </div>
    <!--/row-->
</div>
<!--/.fluid-container-->


</body>


</html>
