{% extends template.html%}

{% block panel %}
<h3> Welcome {{username}} </h3>

<div class="etc-login-form">
<p>Your current projects are:</p>
{% if len(projects)==0 %}
<p>You currently have no projects</p>
{% else %}
    <ul>
      {% for project in projects %}
        {% block student %}
          <li><a name={{escape(project)}} href="/projectload{{escape(project)}}" method="GET">
						{{ escape(project) }}
					</a></li>
        {% end %}
      {% end %}
    </ul>
{% end %}
</div>


<div class="etc-login-form">
	<p><a href="/logout">log out</a></p>
</div>

{% end block %}

{% block content %}
	  <div class="container">
	    <h2>Isolation Forest</h2>
		{% if current_project=="default" %}
			<h3>No project loaded</h3>
      <p style="color:red;">{{failmessage}}</p>
	    <p>
	      Start a new project. Upload a file containing your data in csv format.
	    </p>
	  <form enctype="multipart/form-data" action="/getfile" method="POST">
			<div class="btn-group mr-2" role="group" aria-label="Second group">
				<ul>
					<div> <input type="text" name="projectname" placeholder="project name" class="btn btn-primary"></input></div>
	    		<div> <input type="file" name="filearg" value="Choose file" class="btn btn-primary"></input>
							 <input type="submit" value="Submit" class="btn btn-secondary"></input></div>
				</ul>
	    </div>
	  </form>
		{% else %}
			<h3>Project {{escape(current_project)}} is loaded</h3>
		{% end %}
	  </div>
{% end block %}
