{% extends template.html%}

{% block panel %}
<h3 class="text-muted"> Welcome {{username}} </h3>

<div class="etc-login-form">
<p class="text-muted">Your current projects are:</p>
{% if len(projects)==0 %}
<p class="text-muted">You currently have no projects</p>
{% else %}
    <ul>
      {% for project in projects %}
        {% block student %}
          <li><a name={{escape(project)}} href="/projectload{{escape(project)}}" method="GET">
						{{ escape(project) }}
					</a></li>
        {% end %}
      {% end %}
    </ul>
{% end %}
</div>


<div class="etc-login-form">
	<p><a href="/logout">log out</a></p>
</div>

{% end block %}

{% block content %}
<div class="well">
	<h2 class="text-muted">Start a new project</h2>
	 <h4 class="text-muted">Pick a name for your project and upload your training data</h4>
    <p style="color:red;">{{failmessage}}</p>

  <div class="container">
    <form class="form-inline" enctype="multipart/form-data" action="/getfile" method="POST">
      <div class="form-group">
        <input type="text" name="projectname" placeholder="project name" class="btn btn-default"></input>
        <input type="file" name="filearg" value="Choose file" class="btn btn-default"></input>
        <input type="submit" value="Submit" class="btn btn-default"></input>
      </div>
    </form>
  </div>

</div>
{% end block %}
